{% extends 'base_template.html.twig' %}

{% block title %}Administration - {{ constant('WEBSITE_TITLE') }}{% endblock %}

{% block content %}
    <h2>Gestion des Utilisateurs</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Pseudo</th>
                <th>Email</th>
                <th>Rôle</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% if utilisateurListe is not empty %}
                {% for user in utilisateurListe %}
                    <tr>
                        <td>{{ user.getIdUtilisateur }}</td>
                        <td>{{ user.getPseudo }}</td>
                        <td>{{ user.getAdressMail }}</td>
                        <td>{{ user.getRole }}</td>
                        <td>
                            <a href="index.php?controleur=profil&methode=afficherAutreUtilisateur&pseudo={{ user.getPseudo }}" class="btn btn-info btn-sm">Voir Profil</a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="5" class="text-center">Aucun utilisateur trouvé.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
{% endblock %}
