<!DOCTYPE html>
<html lang="{{ constant('WEBSITE_LANGUAGE')}}">
	<head>
			<script src="js/patientez.js"></script>
<script>
 document.addEventListener('DOMContentLoaded', () => {
        patienterBouton(boutonDecouvrir);     // Boutons Découvrir dans le carrousel page d'accueil
        patienterLien(lienALaUne);            // Découvrir plus d'œuvres
        patienterBouton(boutonDecouvrirPlus); // Découvrir plus d'oeuvre
		patienterLien(lienCarouselSuggSerie); // Suggestion série
		patienterLien(lienCarouselSuggFilm);  // Suggestion film
		patienterLien(lienCarouselWatchList); // Watchlist film

    });

 
</script>
		<script src="node_modules/tarteaucitronjs/tarteaucitron.js"></script>
		<script src="node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
		<script type="text/javascript">
			tarteaucitron.init({
"privacyUrl": "", /* Privacy policy url */
"bodyPosition": "bottom", /* or top to bring it as first element for accessibility */

"hashtag": "#tarteaucitron", /* Open the panel with this hashtag */
"cookieName": "tarteaucitron", /* Cookie name */

"orientation": "middle", /* Banner position (top - bottom) */

"groupServices": false, /* Group services by category */
"showDetailsOnClick": true, /* Click to expand the description */
"serviceDefaultState": "wait", /* Default state (true - wait - false) */

"showAlertSmall": false, /* Show the small banner on bottom right */
"cookieslist": false, /* Show the cookie list */

"closePopup": false, /* Show a close X on the banner */

"showIcon": true,
/* Show cookie icon to manage cookies */
"iconSrc": "img/imageCookie.png", /* Optionnal: URL or base64 encoded image */
"iconPosition": "BottomLeft", /* BottomRight, BottomLeft, TopRight and TopLeft */

"adblocker": false, /* Show a Warning if an adblocker is detected */

"DenyAllCta": true, /* Show the deny all button */
"AcceptAllCta": true, /* Show the accept all button when highPrivacy on */
"highPrivacy": true, /* HIGHLY RECOMMANDED Disable auto consent */
"alwaysNeedConsent": false, /* Ask the consent for "Privacy by design" services */

"handleBrowserDNTRequest": false, /* If Do Not Track == 1, disallow all */

"removeCredit": false, /* Remove credit link */
"moreInfoLink": true, /* Show more info link */

"useExternalCss": false, /* If false, the tarteaucitron.css file will be loaded */
"useExternalJs": false,
/* If false, the tarteaucitron.js file will be loaded */

// "cookieDomain": ".my-multisite-domaine.fr", /* Shared cookie for multisite */

"readmoreLink": "", /* Change the default readmore link */

"mandatory": true, /* Show a message about mandatory cookies */
"mandatoryCta": true,
/* Show the disabled accept button when mandatory on */

// "customCloserId": "", /* Optional a11y: Custom element ID used to open the panel */

"googleConsentMode": true, /* Enable Google Consent Mode v2 for Google ads and GA4 */

"partnersList": false /* Show the number of partners on the popup/middle banner */
});
		</script>

		<!-- Google tag (gtag.js) -->
		{# <script async src="https://www.googletagmanager.com/gtag/js?id=G-TJGCV8L5XE"></script>

																				    <script>
																				        window.dataLayer = window.dataLayer || [];
																				        function gtag(){dataLayer.push(arguments);}
																				        gtag('js', new Date());
																				
																				        gtag('config', 'G-TJGCV8L5XE');
																				    </script> #}


		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" href="{{ constant('WEBSITE_LOGO') }}">
		<link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
		<link rel="stylesheet" type="text/css" href="css/styles.css">
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
		<meta name="description" content="{% if description is defined %} {{ description }} {% else %} {{ constant('WEBSITE_DESCRIPTION') }} {% endif %}">
		<style>
			body {
				background-color: #D5D0AF;
			}
		</style>
		<script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=6761894fc433c60012502e7c&product=inline-share-buttons&source=platform" async="async"></script>
		{% block css %}{% endblock %}
		<title>
			{% block title %}
				{{ constant('WEBSITE_TITLE') }}
			{% endblock %}
		</title>
	</head>
	<body class="d-flex flex-column min-vh-100">
	
		<header class="header-bg text-light header-sm container-fluid">
			<nav
				class="navbar container-fluid d-flex justify-content-between align-items-center flex-wrap">
				
				<!-- Logo et bouton Menu -->
				<div class="d-flex align-items-center">
				
					<a class="navbar-brand d-flex align-items-center" href="index.php">
						<img src="img/LogoPopCorn.png" alt="Logo" width="90" height="70" class="me-2" >
					</a>
					{# <button class="btn btn-custom ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#menuBar" aria-expanded="false" aria-controls="menuBar">
						Menu
					</button> #}
				</div>
				
				<div class="py-2 d-flex justify-content-center flex-wrap ">{#d-flex justify-content-center flex-wrap#}
					{% if utilisateurConnecte %}
						<a href="index.php?controleur=forum&methode=listerForum" class=" btn btn-light-custom mx-2 my-1" style="font-weight: bold">Forum</a>
						<a href="index.php?controleur=watchlist&methode=listerWatchList&id={{ utilisateurConnecte.idUtilisateur }}" class="btn btn-light-custom mx-2 my-1" style="font-weight: bold">Mes listes</a>
						<a href="index.php?controleur=Quizz&methode=listerQuizz" class="btn btn-light-custom mx-2 my-1" style="font-weight: bold">Quiz</a>
						<a href="index.php?controleur=jeux&methode=listeTableau" class="btn btn-light-custom mx-2 my-1" style="font-weight: bold">Jeux</a>
					{% else %}
						<a href="index.php?controleur=utilisateur&methode=connexion" class="btn btn-custom mx-2 my-1">Merci de vous connecter</a>
					{% endif %}
				</div>
				
				{# <!-- Barre de recherche -->d-flex justify-content-center flex-grow-1 mt-2 mt-md-0 #}
				<form class=" d-flex justify-content-center flex-grow-1 my-2 my-lg-0 mx-auto" action="index.php" method="GET" style="position: relative; margin-right: 413px;">
				{# <form class=" d-flex justify-content-center flex-grow-1 mt-2 mt-md-0" action="index.php?controleur=index&methode=rechercherFilm" method="POST"  style="position: relative; margin-right: 413px;"> #}
					<input type="hidden" name="controleur" value="index">
					<input type="hidden" name="methode" value="rechercherFilm">
					<input class="form-control" type="text" name="requete" placeholder="Rechercher un film ou une série " aria-label="Search" style="max-width: 400px;">
				</form>


				<!-- Bouton Connexion/Déconnexion et Admin -->
				<div class="me-3 mt-2 mt-md-0">
					{% if utilisateurConnecte is null %}
						<a class="btn btn-custom" href="index.php?controleur=utilisateur&methode=connexion">Connexion</a>
					{% else %}
						<div class="dropdown">
							<button class="btn d-flex align-items-center p-0 border-0" type="button" id="userMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
								<img src="{{ 'img/profils/' ~ utilisateurConnecte.photoProfil }}" alt="Photo de profil" width="50" height="50" class="rounded-circle border border-2">
								<i class="fas fa-caret-down ms-2 text-white"></i>
							</button>
							<ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="userMenuButton">
								<li class="dropdown-item">
									<a href="index.php?controleur=profil&methode=afficherApropos&id={{ utilisateurConnecte.idUtilisateur }}" class="d-flex align-items-center text-decoration-none">
										<img src="{{ 'img/profils/' ~ utilisateurConnecte.photoProfil }}" alt="Photo de profil" width="50" height="50" class="rounded-circle me-2">
										<div>
											<strong>{{ utilisateurConnecte.pseudo }}</strong><br>
											<small class="text-muted">{{ utilisateurConnecte.getRole }}</small>
										</div>
										<div class="mt-2">
											<small>Cliquez pour afficher votre profil</small>
										</a>
									</div>
								</li>
								<li>
									<hr class="dropdown-divider">
								</li>
								{% if utilisateurConnecte.getRole == 'admin' %}
									<li>
										<a class="dropdown-item" href="index.php?controleur=admin&methode=render" style="color: #A2140A;">
											<strong>Administration</strong>
										</a>
									</li>
								{% endif %}
								<li>
									<a class="dropdown-item" href="index.php?controleur=profil&methode=afficherFormulaire" style="color: #A2140A;">Paramètres</a>
								</li>
								<li>
									<a class="dropdown-item" href="index.php?controleur=profil&methode=listerNotif&idNotif=1" style="color: #A2140A;">Mes notifications</a>
								</li>
								<li>
									<hr class="dropdown-divider">
								</li>
								<li>
									<a class="dropdown-item text-danger fw-bold" href="index.php?controleur=utilisateur&methode=deconnexion">Déconnexion</a>
								</li>
							</ul>
						</div>
					{% endif %}
				</div>
			</nav>
		</header>

		<!-- Contenu principal avec flex-grow-1 pour prendre tout l'espace disponible -->
		<main
			class="flex-grow-1">
			{# affiche le base_template_film #}
			{% block content1 %}{% endblock %}

			<script type="text/javascript">
				tarteaucitron.user.gtagUa = 'G-TJGCV8L5XE';
// tarteaucitron.user.gtagCrossdomain = ['example.com', 'example2.com'];
tarteaucitron.user.gtagMore = function () { /* add here your optionnal gtag() */
};
(tarteaucitron.job = tarteaucitron.job || []).push('gtag');
			</script>

			<script type="text/javascript">
				tarteaucitron.user.sharethisPublisher = 'publisher';
(tarteaucitron.job = tarteaucitron.job || []).push('sharethis');
			</script>

			{# affiche le base_template_profil #}
			{% block content2 %}{% endblock %}

			{% block content %}{% endblock %}
		</main>

		<footer class="footer-bg text-center text-light py-3 mt-auto">
			<div
				class="container">
				<!-- Liens de Navigation -->
				<div class="footer-nav mb-3">
					<a href="index.php" class="footer-link mx-2">Accueil</a>
					<a href="#" class="footer-link mx-2" data-bs-toggle="modal" data-bs-target="#aproposModal">À propos</a>
					<a href="#" class="footer-link mx-2" data-bs-toggle="modal" data-bs-target="#contactModal">Contact</a>
					<a href="index.php?controleur=newsletter&methode=afficher" class="footer-link mx-2">Newletter</a>
					<a href="#" class="footer-link mx-2" data-bs-toggle="modal" data-bs-target="#tmdbModal"><img src="img/logoTMDB.png" alt="TMDB Logo" width="20" height="20" class="me-1">CGU</a>
				</div>
				<!-- PopUp pour l'accord TMDB -->
				<div class="modal fade" id="tmdbModal" tabindex="-1" aria-labelledby="tmdbModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header bg-light">
								<img src="img/logoTMDB.png" alt="TMDB Logo" width="50" height="50" class="me-3">
								<h4 class="modal-title fw-bold text-dark" id="tmdbModalLabel">Accord d'utilisation TMDB</h4>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
							</div>
							<div class="modal-body text-dark">
								<p>
									The Movie Database (TMDB) est une base de données en ligne regroupant des milliers de données sur des oeuvres audiovisuelles. L'accès aux informations est publiques et gratuite sous certaines conditions grâce à une API.
								</p>
								<p>
									L'utilisation de TMDB est soumise à des conditions d'utilisation spécifiques. En utilisant les données de TMDB, nous acceptons de respecter leurs conditions d'utilisation, disponibles sur leur site officiel.
								</p>
								<p>
									Pour plus de détails, voici un lien vers les
									<a href="https://www.themoviedb.org/terms-of-use" target="_blank" class="text-primary fw-bold">Conditions d'utilisation de TMDB</a>.
								</p>
								<h5>Utilisation de TMDB dans notre projet</h5>
								<p>
									Nos données des œuvres sont récupérées grâce à l’API de TMDB. L'API est limitée dans le nombre de requêtes quotidiennes (100 000, ce qui est largement assez pour notre usage). Nous avons le droit de l’utiliser dans un cadre non commercial (notre application ne générant pas de revenu, nous sommes dans la légalité), et il faut absolument créditer TMDB sur notre projet (ce qui est fait aussi). TMDB permet d’utiliser les affiches des œuvres dans un cadre strictement non commercial grâce à un accord implicite entre TMDB et les détenteurs des droits des affiches. Les seules conditions sont de bien mentionner TMDB, et de ne pas altérer les affiches.
								</p>
							</div>
						</div>
					</div>
				</div>
				<!-- Modal À propos -->
				<div class="modal fade" id="aproposModal" tabindex="-1" aria-labelledby="aproposModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered">
						<div class="modal-content">
							<div class="modal-header bg-light">
								<h5 class="modal-title fw-bold text-dark" id="aproposModalLabel">À propos</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
							</div>
							<div class="modal-body text-dark">
								<p>Bienvenue sur
									<strong>VHS</strong>, votre plateforme dédiée aux œuvres audiovisuelles.</p>
								<p>Ce projet a été réalisé dans le cadre du BUT Informatique à l'IUT de Bayonne et du Pays Basque.</p>
								<p>Nous utilisons l'API de
									<a href="https://www.themoviedb.org/" target="_blank" class="text-primary fw-bold">TMDB</a>
									pour enrichir notre contenu.</p>
								<h6>Crédits :</h6>
								<ul>
									<li>AMREIN Nathan - TP4</li>
									<li>BAROS Arthur - TP3</li>
									<li>CHIPY Thibault - TP4</li>
									<li>DESPRE-HILDEVERT Léa - TP4</li>
									<li>DIZY Lukas - TP3 (alternant)</li>
									<li>LEVAL Noah - TP4</li>
									<li>NOVION Tatiana - TP4 (alternante)</li>
									<li>PIGEON Aymeric - TP 4</li>
									<li>VINET LATRILLE Jules - TP4</li>
								</ul>
								<p>Pour toute question, contactez-nous via la section
									<strong>Contact</strong>.</p>
							</div>
						</div>
					</div>
				</div>

				<!-- Modal Contact -->
				<div class="modal fade" id="contactModal" tabindex="-1" aria-labelledby="contactModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered">
						<div class="modal-content">
							<div class="modal-header bg-light">
								<h5 class="modal-title fw-bold text-dark" id="contactModalLabel">Nous contacter</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
							</div>
							<form action="index.php?controleur=utilisateur&methode=traiterContact" method="POST">
								<div class="modal-body text-dark">
									<div class="mb-3">
										<label for="name" class="form-label">Nom :</label>
										<input type="text" id="name" name="name" class="form-control" required>
									</div>
									<div class="form-group mb-3">
										<label for="email" class="form-label">Mail :</label>
										<input type="email" name="mail" name="email" class="form-control" required placeholder="Exemple : mail@mail.fr">
										<small id="emailErreur" class="text-danger"></small>
									</div>
									<div class="mb-3">
										<label for="message" class="form-label">Message :</label>
										<textarea id="message" name="message" class="form-control" rows="5" required></textarea>
									</div>
								</div>
								<div class="modal-footer">
									<button type="submit" class="btn btn-primary w-100" onclick="showPopup()">Envoyer</button>
								</div>
							</form>
						</div>
					</div>
				</div>						


				<div class="footer-social mb-2">
					<div class="sharethis-inline-share-buttons"></div>
				</div>

				<span class="tacSharethis"></span>

				<div class="footer-copyright">
					© Copyright 2024 - IUT de Bayonne et du Pays Basque - BUT2 Groupe 8
				</div>
			</div>
		</footer>

		{% block scripts %}{% endblock %}
	</body>
</html>
