{% extends 'base_template.html.twig' %}

{% block content %}
<title>Bienvenue sur {{constant("WEBSITE_TITLE")}}</title>

<h1>Les films pour l'instant</h1>
{% if oaListe is empty %}
    <p>Aucun film pour l'instant</p>
{% endif %}
{% for film in oaListe %}
    <h2>{{ film.nom }}</h2>
    <p>Note : {{ film.note }}</p>
    <p>Description : {{ film.description }}</p>
    <p>Date de sortie : {{ film.dateSortie }}</p>
    <p>Version originale : {{ film.vo ? 'Oui' : 'Non' }}</p>
{% endfor %}

{% endblock %}

