{% extends 'base_template.html.twig' %}

{% block content %}
<title>Bienvenue sur {{constant("WEBSITE_TITLE")}}</title>

<h1>Les films pour l'instant</h1>

    <h1>{{ oa.nom }}</h1>
    <p>Note : {{ oa.note }}</p>
    <p>Description : {{ oa.description }}</p>
    <p>Date de sortie : {{ oa.dateSortie }}</p>
    <p>Version originale : {{ oa.vo ? 'Oui' : 'Non' }}</p>
    <p>Aucun film trouvé.</p>

{% endblock %}