{% extends 'base_template_profil.html.twig' %}
    
{% block title %}
    Profil : Une Notification - {{ constant('WEBSITE_TITLE')}} 
{% endblock %}
    


{% block content %}    
    <!-- Titre de la partie notification -->
    <div class="container mt-2">
        <h1>Mes notifications</h1>
    </div>

     {% if notifListe is empty %}
        <p class="text-center">Aucune notification.</p>
    {% else %}
        {% set count = 0 %}
        {% for notifs in notifListe %}
            {% set count = count + 1 %}
        {% endfor %}

            {# <div class="container my-4 col-auto"> #}
            <div class="container d-flex justify-content-between align-items-center my-4">
                    <p class="h5">Nombre de notifications : {{ count }}</p>
            
                <!-- Suppression de toutes les notifications -->
                <button type="button" class="btn btn-primary text-end mx-10 " onclick="window.location.href='index.php?controleur=profil&methode=supprimerToutesLesNotifs&idUtilisateur={{notifListe[0].idUtilisateur}}'">Tout supprimer</button>
            </div> 

    {% endif %} 




     <!-- Liste des notifications de l'utilisateur -->
    {% if notifListe is not defined  %} <!--or notifListe is empty-->
        <div class="container mt-4">
            <p>Aucune notification.</p>
        </div>
        
    {% else %} 
        <div class="container my-4 my-5">
            <ul class="list-group">
                <div class="row">
                    {% for notifs in notifListe %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <div class="container my-2">
                                    <div class="card-body ">
                                        {# <form method='POST' action='fenetre.php'>
                                        <input type='checkbox' name='case' value='on'>  
                                        <input type="checkbox" class="form-check-input" id="idNotif" />
                                        <label class="form-check-label" for="idNotif"></label>
                                        </form> #}
                                        
                                        <h5 class="card-title">{{ notifs.contenu}}</h5>
                                        <div>
                                            <strong>Date :</strong> {{ notifs.dateNotif }}<br>
                                            {# <h6><strong>Dans le forum : {{ message.nom }}</strong></h6> #}
                                            <a href="index.php?controleur=profil&methode=afficherNomForum&idMessage={{notifs.idMessage}}">Dans le forum : {{ notifs.nomForum }} </a>

                                            <div class="d-flex justify-content-between align-items-center my-2">
                                                <div>
                                                    <strong>Vu :</strong> {{ notifs.vu ? 'Oui' : 'Non' }}
                                                </div>
                                                <a href="index.php?controleur=profil&methode=afficherNotif&idNotif={{notifs.idNotif}}" class="btn btn-primary">
                                                    Voir la notification
                                                </a>
                                                
                                                 <!-- Bouton pour supprimer -->
                                                <div class="ms-3">
                                                    <button type="button" class="btn btn-primary me-3" onclick="window.location.href='index.php?controleur=profil&methode=supprimerUneNotif&idNotif={{ notifs.idNotif }}'">Supprimer</button>  
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                    {% endfor %}
            
            </div>
        </div>

    {% endif %}   
       
    
{% endblock %}