{% extends 'base_template.html.twig' %}

{% block content %}
<div class="mb-3 ms-3 btn btn-primary btn-lg mt-3 ">
	<a href="index.php" class="text-white text-decoration-none">
		<i class="bi bi-house-door-fill"></i> Accueil
	</a>
</div>
    <div class="container">
        <div class="text-center mb-4">
            <h1>{{ quizz.nom }}</h1>
            <p><strong>Thème :</strong> {{ quizz.theme }}</p>
            <p><strong>Difficulté :</strong> {{ quizz.difficulte }}</p>
            <p><strong>Nombre de questions :</strong> {{ quizz.nbQuestion }}</p>
            {% if quizz.meilleurJ %}
                <p><strong>Meilleur joueur :</strong> {{ quizz.meilleurJ }}</p>
            {% else %}
                <p><strong>Aucun meilleur joueur enregistré.</strong></p>
            {% endif %}
        </div>
        
        <!-- Bouton pour lancer le quizz -->
        <div class="text-center mb-4">
            <a href="index.php?controleur=question&methode=afficherQuestion&idQuizz={{ quizz.idQuizz }}" class="btn btn-secondary">Lancer le quizz</a>
        </div>

        <div class="text-center mt-4  mb-4">
            <a href="index.php?controleur=Quizz&methode=listerQuizz" class="btn btn-primary">Retour à la liste des quizz</a>
        </div>
    </div>
{% endblock %}
