{% extends 'base_template_profil.html.twig' %}
    
{% block title %}
    Profil : Notification - {{ constant('WEBSITE_TITLE')}} 
{% endblock %}
    
{% block content %}    

    <div class="container mt-4">
        <h1 class="card-title">{{ contenuNotif.contenu }}</h1>
    </div>

        <div class="container mt-4 mb-5">
            <ul class="list-group">
                <div class="row">
                    <li class="list-group-item d-flex justify-content-between align-items-center">                          
                        <div class="card-body">                                     
                            <h5> <strong>De :</strong> {{ contenuNotif.destinataire }}<br>
                            </h5>
                            <div>   
                                <strong>Date :</strong> {{ contenuNotif.dateNotif }}<br>

                                <strong>Dans le forum :</strong>{{ message.nom }}
                                {# <strong>Vu :</strong> {{ contenuNotif.vu ? 'Oui' : 'Non' }}<br> #}

                                {# Affichage des boutons seulement si le contenu est "Game invite" #}
                                {% if contenuNotif.contenu == 'Game invite' %}
                                    <div class="text-center my-3">
                                        <button type="button" class="btn btn-primary ilFautPatienter" onclick="window.location.href='index.php?controleur=profil&methode=accepterJeux&methode=supprimerUneNotif&id={{ contenuNotif.idNotif }}'">Accepter</button>
                                        <!-- Suppression de toutes les notifications -->
                                        <button type="button" class="btn btn-primary" onclick="window.location.href='index.php?controleur=profil&methode=refuserJeux&id={{contenuNotif.destinataire}}'">Refuser</button>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </li>   
                </div>
            </ul>
        </div>

 
    
{% endblock %}