{% extends 'base_template.html.twig' %}
    
{% block title %}
    Profil : Notification - {{ constant('WEBSITE_TITLE')}} 
{% endblock %}
    
{% block content %}    
    <!-- Titre de la partie notification -->
    <div class="container mt-4">
        <h1 class="card-title">{{ notifs.destinataire}}</h1>
    </div>

        <div class="container mt-4">
            <ul class="list-group">
                <div class="row">
                    {% for notifs in notifListe %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <div class="col-4">
                                <div class="card" style="width: 18rem;">                              
                                    <div class="card-body">
                                        <form method='POST' action='fenetre.php'>
                                        <input type='checkbox' name='case' value='on'>
                                        {# <input type='submit' name='supprimer' value='Voir'> #}
                                        </form>                                      
                                        <h5 class="card-title">{{ notifs.destinataire}}</h5>
                                        <div>
                                            <strong>Date :</strong> {{ notifs.dateNotif }}<br>
                                            {{ notifs.contenu }}<br>
                                            <strong>Vu :</strong> {{ notifs.vu ? 'Oui' : 'Non' }}<br>
                                            <div class="text-center my-3">
                                                <button type="button" class="btn btn-primary" onclick="window.location.href='index.php?controleur=TestNotif&methode=accepterJeux&id={{ notification.idNotif }}'">Accepter</button>
                                                <!-- Suppression de toutes les notifications -->
                                                <button type="button" class="btn btn-primary" onclick="window.location.href='index.php?controleur=TestNotif&methode=refuserJeux&id={{notification.destinataire}}'">Refuser</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>   
                    {% endfor %}
                </div>
            </ul>
        </div>

    
    <!-- Bouton pour supprimer -->
    {% if notifListe is not empty %}
        <div class="text-center my-3">
            <button type="button" class="btn btn-primary" onclick="window.location.href='index.php?controleur=TestNotif&methode=accepterJeux&id={{ notification.idNotif }}'">Accepter</button>
            <!-- Suppression de toutes les notifications -->
            <button type="button" class="btn btn-primary" onclick="window.location.href='index.php?controleur=TestNotif&methode=refuserJeux&id={{notification.destinataire}}'">Refuser</button>
        
        </div>  
    {% endif %}    
    
{% endblock %}