{% extends 'base_template.html.twig' %}

{% block content %}
<a href="javascript:history.back()" class="btn btn-primary mt-2 ms-2 ilFautPatienter">Retour</a>

    {% if erreurs is defined %}
        <div class="alert alert-danger" role="alert">
            {{ erreurs|join('<br>') }}
        </div>
    {% endif %}

    {% if watchList is not defined %}
        <div class="alert alert-warning" role="alert">
            Aucune Liste
        </div>
    {% else %}
        <div class="container mt-4">
            <div class="d-flex align-items-center mb-4">
                <h1 class="text-center w-100">{{ watchList.titre }}</h1>
                {% if utilisateurConnecte.idUtilisateur == watchList.idUtilisateur %}
                <div class="btn btn-primary">
                    <a href="index.php?controleur=watchlist&methode=supprimerWatchList&id={{ watchList.idWatchList }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette liste ?');" class="text-white text-decoration-none">
                        Supprimer
                    </a>
                </div>
                {% endif %}
            </div>
            <div class="text-center">
                <p><strong>Description :</strong> {{ watchList.description }} | <strong>Genre :</strong> {{ watchList.genre }}</p>
                <p><strong>Visibilité :</strong> {{ watchList.visible == '1' ? 'Publique' : 'Privée' }}</p>
            </div>

            <div class="row">
			{% if watchList.listeOeuvres is not empty %}
                {% for oa in watchList.listeOeuvres %}
                    <div class="col-md-4 mb-3">
                        <div class="card" style="background-color: transparent; border: none;">
                            <button type="button" class="btn btn-link p-0 text-decoration-none" data-bs-toggle="modal" data-bs-target="#oaModal{{ oa.idOa }}">
                                <div class="card-body text-center">
                                    <img src="{{ oa.posterPath }}" alt="{{ oa.nom }}" class="img-fluid mb-2 rounded" style="width: 50%; height: auto;">
                                    <h5 class="card-title mt-2">{{ oa.nom }}</h5>
                                </div>
                            </button>
                        </div>
                    </div>

                    <div class="modal fade" id="oaModal{{ oa.idOa }}" tabindex="-1" aria-labelledby="oaModalLabel{{ oa.idOa }}" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="oaModalLabel{{ oa.idOa }}">{{ oa.nom }}</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p><strong>Nom :</strong> {{ oa.nom }}</p>
                                    <p><strong>Description :</strong> {{ oa.description }}</p>
                                    <p><strong>Date de sortie :</strong> {{ oa.dateSortie|date('d/m/Y')}}</p>
                                    <p><strong>Note :</strong>
                                        {% for i in 1..5 %}
                                            {% if i <= (oa.note / 2) %}
                                                <img src="{{ 'img/noteRemplie.png' }}" alt="Note remplie" width="30" height="30">
                                            {% else %}
                                                <img src="{{ 'img/noteVide.png' }}" alt="Note vide" width="30" height="30">
                                            {% endif %}
                                        {% endfor %}
                                    </p>
                                    <p><strong>Genres :</strong>
                                        {% for genre in oa.genres %}
                                            <span class="badge bg-secondary">{{ genre }}</span>
                                        {% endfor %}
                                    </p>
                                    <div class="d-flex justify-content-between mt-3">
                                    {% if oa.type == 'Film' %}
                                        <button type="button" class="btn btn-primary ilFautPatienter" onclick="window.location.href='index.php?controleur=oa&methode=afficherFilm&idOa={{ oa.idOa }}'">Y aller</button>
                                    {% else %}
                                        <button type="button" class="btn btn-primary ilFautPatienter" onclick="window.location.href='index.php?controleur=oa&methode=afficherSerie&idOa={{ oa.idOa }}'">Y aller</button>
                                    {% endif %}
                                        {% if utilisateurConnecte.idUtilisateur == watchList.idUtilisateur %}
                                            <button type="button" class="btn btn-danger ilFautPatienter" onclick="window.location.href='index.php?controleur=watchlist&methode=supprimerOaWatchList&idWatchlist={{ watchList.idWatchList }}&idOeuvre={{ oa.idOa }}'">Supprimer</button>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
			{% else %}
				<div class="alert alert-warning" role="alert">
					Aucune oeuvre dans cette Liste
				</div>
				{% endif %}

            </div>
        </div>
    {% endif %}

    {% if utilisateurConnecte.idUtilisateur == watchList.idUtilisateur %}
        <div class="d-flex align-items-center justify-content-around mb-4 ms-3">
            <button type="button" class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#shareModal">
            Partager la WatchList
            </button>
            <button type="button" class="btn btn-primary ms-2" data-bs-toggle="modal" data-bs-target="#editWatchlistModal">
            Modifier la WatchList
            </button>
        </div>
    {% else %}
        <form id="watchListForm{{ watchList.idWatchList }}" action="index.php?controleur=watchlist&methode=ajouterWatchList" method="post" onsubmit="return confirm('Êtes-vous sûr de vouloir enregistrer cette liste ?');">
            <input type="hidden" name="idWatchList" value="{{ watchList.idWatchList }}">
            <input type="hidden" name="titre" value="{{ watchList.titre }}">
            <input type="hidden" name="selectedGenre" value="{{ watchList.genre }}">
            <input type="hidden" name="description" value="{{ watchList.description }}">
            <input type="hidden" name="visible" value="{{ watchList.visible }}">
            {% for oa in watchList.listeOeuvres %}
                <input type="hidden" name="listeOeuvres[]" value="{{ oa.idOA }}">
            {% endfor %}
            <button type="submit" class="btn btn-primary ilFautPatienter">
                <i class="bi bi-save"></i>
                Enregistrer cette Liste
            </button>
        </form>
    {% endif %}

    <div class="modal fade" id="shareModal" tabindex="-1" aria-labelledby="shareModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="shareModalLabel">Partager la Liste</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Copiez le lien ci-dessous pour partager votre Liste :</p>
                    <div class="input-group">
                        <input type="text" class="form-control" value="http://lakartxela.iutbayonne.univ-pau.fr/~tchipy/SAE/Video-Home-Share/index.php?controleur=watchlist&methode=afficherWatchlist&idWatchlist={{ watchList.idWatchList }}" id="shareLink" readonly>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>

    {% if utilisateurConnecte.idUtilisateur == watchList.idUtilisateur %}
        <div class="modal fade" id="editWatchlistModal" tabindex="-1" aria-labelledby="editWatchlistModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editWatchlistModalLabel">Modifier la Liste</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="index.php?controleur=watchlist&methode=modifierWatchList&id={{ watchList.idWatchList }}" method="post">
                            <div class="mb-3">
                                <label for="titre" class="form-label">Titre</label>
                                <input type="text" class="form-control" id="titre" name="titre" value="{{ watchList.titre }}" required>
                            </div>
                            <div class="mb-3">
                                <label for="description" class="form-label">Description</label>
                                <textarea class="form-control" id="description" name="description" rows="3" required>{{ watchList.description }}</textarea>
                            </div>
                            <div class="mb-3">
                                <label for="genre" class="form-label">Genre</label>
                                <input type="text" class="form-control" id="selectedGenre" name="genre" value="{{ watchList.genre }}">
                            </div>
                            <div class="mb-3">
								<label for="watchlistVisibility" class="form-label">Visibilité :</label>
								<small class="form-text text-muted">
									<br><strong>Publique</strong>
									: visible par tous les utilisateurs.
								</small>
								<div class="form-check">
									<input class="form-check-input" type="radio" name="visible" id="visibilityPublic" value="1" checked>
									<label class="form-check-label" for="visibilityPublic">Publique</label>
								</div>
								<div class="form-check">
									<input class="form-check-input" type="radio" name="visible" id="visibilityPrivate" value="0">
									<label class="form-check-label" for="visibilityPrivate">Privée</label>
								</div>
								<small id="visibleErreur" class="text-danger"></small>

							</div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                                <button type="submit" class="btn btn-primary ilFautPatienter">Enregistrer les modifications</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}