{% extends 'base_template.html.twig' %}

{% block content %}
    {% if watchList is not defined %}
        <p>Aucune WatchList</p>
    {% else %}
    <!-- afficher les détail d'une watchlist-->
    <h1>{{ watchList.titre }}</h1>
    {% for oa in oas %}

    <div class="d-flex justify-content-start overflow-auto">
        <div class="card me-2">
          <button type="button" data-bs-toggle="modal" data-bs-target="#oaModal{{ oa.id }}"  
            <div class="card-body text-center">
                <div class="placeholder-image" style="width: 100%; height: 100px; background-color: #ccc;"></div>
                <p class="card-text mt-2">{{ oa.nom }}</p>
            </div></button> 
        </div>
<div class="modal fade" id="oaModal{{ oa.id }}" tabindex="-1" aria-labelledby="oaModalLabel{{ oa.id }}" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="oaModalLabel{{ oa.id }}">{{ oa.nom }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Nom : {{ oa.nom }}</p>
                <p>Description : {{ oa.description }}</p>
                <button type="button" class="btn btn-primary" onclick="window.location.href='index.php?controleur=oa&methode=afficherFilm&id={{ oa.id }}'">Y aller</button>
                <button type="button" class="btn btn-danger" onclick="window.location.href='index.php?controleur=watchlist&methode=supprimerOaWatchList&id={{ watchList.idWatchList }}&idOeuvre={{ oa.id }}'">Supprimer</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>


    {% endfor %}
    <!-- A FAIRE : afficher le créateur de la watchlist (utilisateur non créer le 09/11/2024 lors de ce test) et sa date de création (ajouter en bd)-->
    <p>{{ watchList.description }}</p>
    <p>{{ watchList.genre }}</p>
    <p>{{ watchList.visible}}</p>


<a href="index.php?controleur=watchlist&methode=supprimerWatchList&id={{ watchList.idWatchList }}" 
    onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette watchlist ?');" class="btn btn-primary">
    Supprimer
</a>

    
    {% endif %}

{% endblock %}